#
# This is the systemd service file for awaawaa v1.0
#

[Unit]
Description=awaawaa SOCKS5 proxy server
After=network.target

[Service]
PIDFile=/run/awaawaa.pid
ExecStart=/usr/local/bin/awaawaa
ExecReload=/usr/bin/kill -HUP ${MAINPID}
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
